
<mat-toolbar class="mat-elevation-z2" *ngIf="isLoggedIn()" style="color: #747474">
    <span class="logo">THE PET PROJECT</span>
    <span style="flex: 1 1 auto"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <div class="titlebox">
        <div>
          <span class="title">
            {{ authService.currentUserValue.account.first_name }}
            {{ authService.currentUserValue.account.last_name }}
          </span>
          <span class="subtitle">Loomaarst</span>
        </div>
        <div class="avatar">
          <i class="fas fa-user-circle" style="font-size: 2em;"></i>
        </div>
      </div>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="logout-button" color="accent" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Logi välja
      </button>
    </mat-menu>
</mat-toolbar>
<div class="version">v 1.0.1</div>

<!--
  *ngIf="isLoggedIn()"
  <button mat-raised-button class="logout-button" color="accent" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i> Logi välja
  </button>
-->