
<mat-toolbar class="toolbar mat-elevation-z5" *ngIf="isLoggedIn()" style="color: #747474">
    <span class="logo" (click)="handleMenuClick('frontpage')">
        <i class="fas fa-paw" style="font-size: 1.5rem;"></i> Vet<span style="color: #FF4081">Base</span>
    </span>
    <span style="flex: 1 1 auto"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <div class="titlebox">
        <div>
          <span class="title">
            {{ profile.first_name }}
            {{ profile.last_name }}
            <span class="subtitle">{{ profile.profession }}</span>
          </span>
        </div>
        <div class="avatar">
          <i class="fas fa-user-circle" style="font-size: 2.5rem;"></i>
        </div>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <button tabindex="0" mat-menu-item class="menu-button" color="accent" (click)="handleMenuClick('settings')">
        <i class="fas fa-cog"></i> Seaded
      </button>
      <button tabindex="1" mat-menu-item class="menu-button" color="accent" (click)="handleMenuClick('admin')">
        <i class="fas fa-tools"></i> Haldus
      </button>
      <hr>
      <button tabindex="2" mat-menu-item class="menu-button" color="accent" (click)="handleMenuClick('logout')">
        <i class="fas fa-sign-out-alt"></i> Logi välja
      </button>
    </mat-menu>
</mat-toolbar>
<div class="version">v {{appVersion}}</div>
<!--
  *ngIf="isLoggedIn()"
  <button mat-raised-button class="logout-button" color="accent" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i> Logi välja
  </button>
-->