mat-toolbar {
  background-color: white;
}
.version {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 5px;
  color: #d6d3d3
}
.logo {
  // font-weight: 300;
  cursor: pointer;
}
.toolbar {
  position: fixed;
  height: 65px;
}
.titlebox {
  display: flex;
  align-items: center;
  .title {
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2em;
    .subtitle {
      display: block;
      font-weight: 400;
      font-size: 0.9em;
    }
  }
  .avatar {
    padding: 10px;
  }
}

.menu-button {
  width: 200px;
}
