
.info-text {
  text-align: left;
  padding: 10px;
  background-color: #fff;
  border-radius: 0px 5px 5px 0px;
  color: #686868;
}

.info-icon {
  font-size: 2em;
  color: #2F93EA;
}

.info-icon-bg {
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
